{% extends "layout.html" %}
{% block content %}
  <div class="row">
    <div class="col-xs-6 col-md-4">
      <div class="container">
        <h2>Профиль: {{user}}</h2>
        <h3>{{name}}</h3>
      </div>
      <div class="container">
        <p>Предполагаемый год рождения:{{year}}</p>
        <p>Предполагаемый город:{{city}}</p>
      </div>
    </div>
  </div>
  <div class="row">
    <img src="{{image}}" class="img-polaroid imageClip">
  </div>
  <div class="row">
    <div class="col-xs-6 col-md-4">
      <h4>Однокурсники</h4>
      <ul>
        {%for student in students %}
          <li>{{student}}</li>
        {% endfor %}
      </ul>
    </div>
    <div class="col-xs-6 col-md-4">
      <h4>Одноклассники</h4>
        <ul>
          {%for classmate in classmates %}
            <li>{{classmate}}</li>
          {% endfor %}
        </ul>
    </div>
  </div>
{% endblock %}