{% extends "layout.html" %}
{% block content %}
  <div class="row">
    <div class="col-xs-6 col-md-4">
      <form role="form" method='GET' action='/egonet'>
        <div class="form-group">
          <input type="text" name="user_id" class="form-control" id="url-box" placeholder="Enter vk id..." style="max-width: 300px;">
        </div>
        <button type="submit" class="btn btn-default">Submit</button>
      </form>
    </div>
  </div>
{% endblock %}