<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Egonet</title>
  <link rel=stylesheet type=text/css href="{{ url_for('static', filename='css/bootstrap.min.css') }}">
  <link rel=stylesheet type=text/css href="{{ url_for('static', filename='css/style.css') }}">
  <script src="{{ url_for('static', filename='js/bootstrap.min.js') }}"></script>
</head>
<body>
  <div class="container">
    <div class="row">
      <div class="form-group">
        <div class="page-header">
          <h1><a class="active" href="/">Egonet</a></h1>
        </div>
        {% block content %}
        {% endblock %}
      </div>
    </div>
  </div>
</body>
</html>